<h1>Task Details</h1>
<p>Title: <%= @task.title %></p>
<p>Detail: <%= @task.details %></p>
<p>Completed: <%= @task.completed %></p>
<p></p>
<%= link_to "Edit task", edit_path(@task.id) %>
<p></p>
<%= link_to "Back to List", tasks_path %>
